#div1{
    width: 100px;
    height: 100px;
    background-color:#FF784F ;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 10px;
    position: fixed;
}